var config = {};

config.mongoServers = [
    {
        hostname: "host-one.example.org"
    },
    {
        hostname: "host-two.example.org",
        port:     5000
    },
    {
        hostname: "host-three.example.org",
        arbiter:  true
    }
];

config.sendGrid = {
    apiUser: 'yoursendgridusername',
    apiKey:  'yoursendgridpassword'
};

config.twilio = {
    accountSid:  'youraccountsid',
    authToken:   'yourauthtoken',
    hostname:    'yourhostname',
    phoneNumber: '+1xxxxxxxxxx'
};

module.exports = config;

