var config = {
    development: {
        nodes: {
            localhost: {
                title:    'My Laptop (My Desk)',
                hostname: 'localhost' 
            }
        },
        sendGrid: {
            apiUser: 'Your API Username',
            apiKey:  'Your API Password'
        },
        twilio: {
            accountSid:  'Your API SID',
            authToken:   'Your Auth Token',
            hostname:    'Your Hostname',
            phoneNumber: '+5555555555'
        }
    },
    production: {
        nodes: {
            rackspace: {
                title:    'Rackspace (Chicago, IL)',
                hostname: 'rackspace.example.org'
            },
            linode: {
                title:    'Linode (Fremont, CA)',
                hostname: 'linode.example.org'
            }
        },
        sendGrid: {
            apiUser: 'Your API Username',
            apiKey:  'Your API Password'
        },
        twilio: {
            accountSid:  'Your API SID',
            authToken:   'Your Auth Token',
            hostname:    'Your Hostname',
            phoneNumber: '+5555555555'
        }
    }
};

module.exports = config;
