<h2>{{title}}</h2>

{{#form}}
    {{#field "firstName" "First Name" ""}}
        {{entry "firstName" 27}}
    {{/field}}
    
    {{#field "lastName" "Last Name" ""}}
        {{entry "lastName" 27}}
    {{/field}}

    <fieldset>
        <legend>Notifications</legend>

        {{#field "emailAddress" "Email Address" ""}}
            {{entry "emailAddress" 32}}
        {{/field}}

        {{#field "phoneNumber" "Phone Number" ""}}
            {{entry "phoneNumber" 16}}
        {{/field}}

        {{#field "allowCalls" "Allow Phone Calls" "Whether phone calls can be placed to notify this contact of an issue." }}
            {{checkbox "allowCalls"}}
        {{/field}}
        
        {{#field "allowTextMessages" "Allow Text Messages" "" }}
            {{checkbox "allowTextMessages"}}
        {{/field}}

        {{#field "notifyByDefault" "Notify for All Checks by Default" "Whether this contact should be included on all checked by default.  When this is enabled, the contact can still opt-out of an individual check."}}
            {{checkbox "notifyByDefault"}}
        {{/field}}
    </fieldset>

    {{footer}}
{{/form}}
