<h2>{{title}}</h2>

{{#form}}
    {{#field "url" "URL" ""}}
        {{entry "url" 42}}
    {{/field}}
    
    {{#field "contentString" "Check for String on Page" "Specify a string you expect to find in the page being checked.  If the string is not present, the check will fail." }}
        {{entry "contentString" 27}}
    {{/field}}

    {{#field "repeatsBeforeNotification" "Repeats Before Sending Notification" "The number of consecutive failures or successes needed before notifications are sent."}}
        {{entry "repeatsBeforeNotification" 10 }}
    {{/field}}

    {{#field "interval" "Run Check Every" ""}}
        {{interval}} 
    {{/field}}

    <fieldset>
        <legend>Notifications</legend>
        {{contacts}}
    </fieldset>

    {{footer}}
{{/form}}
