<h2>{{url}}</h2>

<div class="toolbar">
    <a class="primary_button" href="edit?id={{id}}">Edit Check</a>

    <div class="options">
        {{onlyFailures}}
        <label for="onlyFailures">Only Show Failures</label>
    </div>
</div>

<table cellspacing="0">
    <thead>
        <th>Time</th>
        <th>Location</th>
        <th>Response Time</th>
        <th>Status</th>
    </thead>
    <tbody id="logBody">
        {{#entries}}
        <tr>
            <td>{{{this.dateChecked}}}</td>
            <td>{{{this.location}}}</td>
            <td>{{{responseTime this.responseTime}}}</td>
            <td>{{{status this}}}</td>
        </tr>
        {{/entries}}
    </tbody>
</table>

<div id="loading">Loading.  Please wait...</div>

<script type="text/javascript" src="static/js/utilities.js"></script>
<script type="text/javascript" src="static/js/log.js"></script>

<script type="text/javascript">
    var log = new MINION.Log('{{id}}');

    log.init();
</script>
