<h2>Notification History</h2>

<table cellspacing="0">
    <thead>
        <th>Time</th>
        <th>Recipient</th>
        <th>Subject</th>
        <th>Status</th>
    </thead>
    <tbody>
        {{#entries}}
        <tr>
            <td>{{notificationDate this.dateSent}}</td>
            <td>
                <div class="note">{{this.type}} to</div>
                {{this.recipient}} <br />
                <div class="note">from {{this.location}}</div>
            </td>
            <td>{{this.subject}}</td>
            <td>{{status this}}</td>
        </tr>
        {{/entries}}
    </tbody>
</table>
