html {
    font-family: Helvetica, Arial, "Droid Sans", sans-serif;
}

html, body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: left;
}

h1 {
    color: #555753;
    padding-left: 16px;
    text-align: left;
}

h1 span {
    text-transform: none;
}

h2 {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
}

.minion-server {
    background: #eeeeec;
    color: #555753;
    font-size: 65%;
    margin: 0 .5em;
    padding: .2em .5em;
    vertical-align: middle;
}

.yui-gf .yui-u {
    text-align: left;
    width: 75%;
}

.yui-gf .yui-u.first {
    width: 25%;
}

#minion-content {
    border: 4px solid #bbccff;
    border-right: none;
    min-height: 400px;
}

#minion-navigation-container h3 {
    color: #666;
    font-size: 13px;
    font-weight: normal;
    margin: 28px 0 8px 0;
    padding-left: 16px;
}

#minion-global-toolbar {
    float: right;
    margin: 0;
    padding: 0;
}

#minion-global-toolbar li {
    display: block;
    float: left;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#minion-global-toolbar a {
    background-position: 28px center;
    background-repeat: no-repeat;
    color: #666;
    display: block;
    padding: 0 0 0 48px; 
    text-decoration: none;
}

#minion-global-toolbar a:hover {
    color: blue;
}

#minion-user a {
    background-image: url(../images/user.png);
}

#minion-settings a {
    background-image: url(../images/settings.png);
}

#minion-domain-display {
    display: none;
}

.minion-button {
    background: #eee;
    background-position: 6px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    font-size: 13px;
    margin-right: 4px;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #eee;
}

.minion-button-pressed {
    background: #ccc;
    border: 1px solid #ccc;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
}

.minion-button input,
.minion-button label {
    cursor: pointer;
}

.minion-button input {
    padding-left: 0;
    margin-left: -2px;
    margin-right: 6px;
    vertical-align: top;
}

#minion-refresh {
    background-image: url(../images/refresh.png);
    padding-left: 26px;
}

.minion-back {
    background-image: url(../images/back.png);
    padding-left: 26px;
}

.minion-button:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.minion-button-pressed:hover {
    background: #ddd;
}

table {
    width: 100%;
}

.minion-table-container {
    min-height: 400px;
}

th {
    background: #e3e9ff;
    border-bottom: 1px solid #ccd2e6;
    color: #333;
    font-weight: normal;
    padding: .25em .5em;
    text-align: left;
}

.minion-server-footer {
    background: #e3e9ff;
    border-top: 1px solid #ccd2e6;
    padding: .25em .5em;
}

.minion-server-domain-count {
    float: right;
    text-align: right;
    width: 50%;
}

#minion-toolbar {
    padding: 28px 16px 24px 0;
}

td {
    border-bottom: 1px solid #ccd2e6;
    padding: .25em .5em;
}

tr:last-child td,
tr.last td {
    border-bottom: none;
}

.minion-status-failure {
    background: -moz-linear-gradient(-90deg, #ef2929, #cc0000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef2929), to(#cc0000));
    -moz-box-shadow: inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #a40000;
    color: #fff;
    padding-left: .5em;
    text-shadow: #a40000 1px 1px 2px;
}

.minion-status-success {
    color: #aaa;
    font-size: 70%;
}

.minion-status-null {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:first-child {
    margin-top: 0;
}

li:hover {
    cursor: pointer;
}

li {
    margin: .25em -1px;
    padding: .25em .5em .25em 1.5em;
    vertical-align: middle;
}

li.selected {
    background: #bbccff;
    font-weight: bold;
}

li input {
    display: none;
}

li input,
li label {
    vertical-align: middle;
}

li label {
    cursor: pointer;
}

.minion-server-failure {
    background: #fff;
    -moz-box-shadow: inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    border: 1px solid #a40000;
    display: inline-block;
    text-shadow: #a40000 1px 1px 2px;
    margin: .3em 0 0 1em;
    height: .4em;
    width: 60px;
}

.minion-server-failure-fill {
    background: -moz-linear-gradient(top, #ef2929, #cc0000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef2929), to(#cc0000));
    display: block;
    height: .4em;
}

tbody tr:hover {
    background: #edf0f9;
    cursor: pointer;
}

tr a {
    color: #000;
    text-decoration: none;
}

table {
    table-layout: fixed;
}

th,
td {
    overflow: hidden;
    white-space: nowrap;
}

.minion-loading {
    background: url(../images/throbber.gif) left center no-repeat;
    color: #666;
    padding: 12px 0 12px 22px;
}

#minion-search {
    padding: 24px 16px 0 16px;
}

#minion-top-bar {
    background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#fff), to(#eee));
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px;
    text-align: left;    
}

#minion-top-bar a {
    color: #666;
    text-decoration: none;
}

#minion-top-bar a:hover {
    color: blue;
}

.minion-search-container {
    background: url(../images/search.png) 3px center no-repeat;
    border: 1px solid #333;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 6px #204a87;
    -moz-box-shadow: 0 0 6px #204a87;
    -webkit-box-shadow: 0 0 6px #204a87;
    width: 100%;
}

.minion-search-container div {
    padding-left: 22px;
}

.minion-search-container input {
    color: #000;
    border: none;
    font-size: 16px;
    width: 100%;
}

.minion-search-container input:focus {
    outline: none;
}

.minion-search-blurred {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.minion-search-blurred input {
    color: #666;
}

#minion-copyright {
    color: #666;
    font-size: 13px;
    margin: 16px 0;
    text-align: center;
}

#minion-copyright a {
    color: #666;
    text-decoration: none;
}

#minion-copyright a:hover {
    color: blue;
}

.minion-mobile .minion-inactive {
    display: none;
}

.minion-mobile #minion-navigation-container,
.minion-mobile #minion-content {
    width: 100%;
}

.minion-mobile #minion-content {
    border: none;
}

.minion-mobile ul {
    margin: 0;
    padding: 0;
}

.minion-mobile li,
.minion-mobile li.selected {
    border-bottom: 1px solid #ccd2e6;
    margin: 0;
    padding: 1em .5em 1em 1.5em;
}

.minion-mobile li:hover {
    background: #edf0f9;
}

.minion-mobile td {
    padding: 1em .5em;
}

.minion-mobile #minion-navigation-container h3 {
    background: #e3e9ff;
    border-bottom: 1px solid #ccd2e6;
    color: #000;
    font-size: 100%;
    margin: 0;
    padding: .25em .5em;
}

.minion-mobile h1 {
    background: #204a78;
    color: #fff;
    font-size: 22px;
    margin: 0;
    padding: .5em;
}

.minion-mobile .yui-gf .yui-u {
    text-align: left;
    width: 100%;
}

.minion-mobile .yui-gf .yui-u.first {
    width: 100%;
}

.minion-message {
    background: #fffbc9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 0 12px #fff;
    border: 1px solid #f0dca1;
    color: #7b4b11;
    font-size: 13px;
    padding: 4px 8px;
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    text-align: left;
    margin: 3px 30%;
}

.minion-message-error {
    background: #ffe3e0;
    border-color: #dc6e66;
    color: #e31b0c;
}

.minion-help {
    background: #ffffea;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-box-shadow: 0 3px 6px #aaa;
    border: 1px solid #333;
    border-top: 0;
    font-size: 13px;
    padding: 8px 16px 16px 16px;
    position: fixed;
    left: 0;
    top: -1000px;
    width: 50%;
    text-align: left;
    margin: 0 25%;
    color: #333;
}

.minion-close {
    background: url(../images/close.png) center center no-repeat;
    float: right;
    height: 16px;
    width: 16px;
    position: relative;
    top: -4px;
    left: 8px;
    display: block;
}

.minion-hidden {
    display: none;
}

#minion-settings-navigation {
    padding: 0;
    margin: 24px 0 0 0;
}

#minion-settings-navigation li {
    background: #fff;
    color: #666;
    display: block;
    float: left;
    margin: 0;
    padding: 6px 12px 2px 12px;
    margin: 0 16px;
}

#minion-settings-navigation a {
    color: #666;
    text-decoration: none;
}

#minion-settings-navigation a:hover {
    color: blue;
}

#minion-settings-navigation li.selected a,
#minion-settings-navigation li.selected a:hover {
    color: #625000;
}

#minion-settings-navigation li.selected {
    background: #fad163;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #625000;
    float: left;
}

#minion-settings-container {
    background: #fff7d7;
    border-bottom: 4px solid #fad163;
    border-top: 4px solid #fad163;
    clear: both;
    padding: 32px 16px;
    text-align: left;
}

.minion-form-footer {
    padding: 16px 0 0 0;
}

form label {
    display: block;
    float: left;
}

.minion-form-field {
    margin-bottom: 24px;
}

.minion-form-field-with-messages {
    background: #ffe3e0;
    border: 1px solid #dc6e66;
    padding: 8px;
}

.minion-form-field-errors {
    color: #e31b0c;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.minion-form-field-errors li {
    background: url(../images/error.png) left center no-repeat;
    margin: 0;
    padding: 0 0 0 16px;
}

.minion-form-field-note {
    clear: both;
    color: #666;
    font-size: 13px;
}

.minion-form-field-contents {
    clear: both;
    padding-top: 4px;
}

form input {
    border: 1px solid #333;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 27em;
}

form .minion-input-small {
    width: 6em;
}

form .minion-input-medium {
    width: 16em;
}

#minion-license {
    padding: 32px 16px;
}

#minion-license ul {
    list-style-type: disc;
    margin-left: 24px;
}

#minion-license li {
    padding-left: 0;
}

.minion-help-link {
    background: url(../images/help.png) left center no-repeat;
    font-size: 13px;
    margin-left: 16px;
    padding-left: 14px;
    text-decoration: none;
}

.minion-help dt {
    float: left;
    font-weight: bold;
    margin-right: 6px;
}

.minion-help dd {
    color: #666;
    margin: 0;
    padding: 0;
}

.minion-warning {
    background: url(../images/warning.png) left center no-repeat;
    color: #e31b0c;
    font-size: 13px;
    margin-left: 16px;
    padding-left: 14px;
}

.minion-external {
    background: url(../images/external.png) right center no-repeat;
    padding-right: 16px;
}

.minion-settings-listing-toolbar,
.minion-settings-sidebar-header {
    background: #fad163;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 0;
}

.minion-settings-listing-toolbar ul {
    margin: 0;
    padding: 0;
}

.minion-settings-sidebar-header {
    color: #625000;
    font-weight: bold;
    padding: 4px 16px;
}

.minion-settings-sidebar-body {
    background: #fff;
    padding: 16px;
}

.minion-settings-listing-toolbar li {
    cursor: default;
    display: block;
    float: left;
    margin: 4px 0;
    padding: 4px 16px;
}

.minion-settings-listing-toolbar a {
    color: #625000;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.minion-settings-listing {
    table-layout: auto;
}

.minion-settings-listing tr:hover {
    cursor: default;
}

.minion-settings-listing td {
    background: #fff;
    padding: 8px 16px;
}

.minion-settings-listing-footer,
.minion-settings-sidebar-footer {
    background: #fad163;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 6px;
    padding: 0;
}

.minion-settings-add {
    background: url(../images/add.png) left center no-repeat;
    padding-left: 14px;
}

.minion-settings-default {
    background: url(../images/default.png) left center no-repeat;
    padding-left: 14px;
}

.minion-settings-actions {
    font-size: 13px;
    text-align: right;
}

td.minion-settings-info {
    vertical-align: top;
}

td.minion-center {
    vertical-align: middle;
}

.minion-settings-info {
    font-size: 13px;
}

.minion-settings-info span {
    color: #666;
    padding-right: 6px;
}

.minion-settings-actions a {
    color: blue;
    margin-left: 14px;
}

.minion-settings-edit {
    background: url(../images/edit.png) left center no-repeat;
    padding-left: 14px;
}

.minion-settings-test-message {
    background: url(../images/mail-send.png) left center no-repeat;
    padding-left: 14px;
}

.minion-settings-vacation {
    background: url(../images/vacation.png) left center no-repeat;
    padding-left: 14px;
}

.minion-settings-password {
    background: url(../images/password.png) left center no-repeat;
    padding-left: 14px;
}

#minion-settings-container h2 {
    background: #fad163;
    border-radius: 4px;
    clear: both;
    color: #625000;
    font-size: 100%;
    margin: 12px 0;
    padding: 4px 8px;
    width: 80%;
}

#minion-settings-container h2 span {
    color: #fff;
    float: right;
    text-shadow: 0 0 2px #000;
}

#office-phone.minion-input-medium,
#cell-phone.minion-input-medium,
#im-name.minion-input-medium {
    margin-right: 13px;
    width: 10em;
}

#office-phone-ext.minion-input-small {
    width: 4em;
}

.minion-clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
